*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::root{

}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto 100px 100px;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    background-color: #bde6ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='402' height='335' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    margin-left: 20px;
    margin-right: 20px;
}

/* Main content / guesses style */

section{
    display: grid;
    grid-template-columns: 45px 203px 45px;
    align-items: center;
    justify-content: center;
}

.colors{
    display: flex;
    gap: 1px;
}

.color{
    height: 50px;
    width: 50px;
    background: grey;
    border-radius: 25px;
    border: 2px solid black;
}

.correct{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.corr{
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    border: 1px solid black;
    background: grey;
}



/* Guessing style */

section.guess{
    display: grid;
    grid-template-columns: 100px 203px 100px;
    align-items: center;
    justify-content: center;
}

.guessingButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.guessingButtons button{
    width: 75px;
    background-color: lightgreen;
    border-radius: .5rem;
    outline: none;
}

.guess h2{

}

/* Circle Button style */

.colorButtons{
    display: flex;

}

.colorButtons .color:active{
    box-shadow: inset 6px 6px 10px black;
    
}

/* color styles */

.color{
    background: radial-gradient(circle at 16px 16px, white, black);
}

.corr{
    background: radial-gradient(circle at 16px 16px, white, black);
}

.red{
    background: radial-gradient(circle at 16px 16px, rgb(255, 221, 221), red, black);
}

.orange{
    background: radial-gradient(circle at 16px 16px, rgb(255, 225, 210), orange, black);
}

.yellow{
    background: radial-gradient(circle at 16px 16px, rgb(228, 228, 0), yellow, black);
}

.green{
    background: radial-gradient(circle at 16px 16px, rgb(191, 255, 191), green, black);
}

.blue{
    background: radial-gradient(circle at 16px 16px, rgb(168, 168, 255), blue, black);

}

.purple{
    background: radial-gradient(circle at 16px 16px, rgb(247, 206, 247), purple, black);

}

.pink{
    background: radial-gradient(circle at 16px 16px, rgb(255, 228, 233), rgb(255, 187, 198), black);

}

.black{
    background: radial-gradient(circle at 5px 5px, rgb(136,136, 136), black, black);
}

.white{
    background: radial-gradient(circle at 5px 5px, white, rgb(241,241,241), rgb(121, 121, 121));

}